<div class="results-block">
  <%= render 'layouts/messages' %>
</div>
<% if @stock %>
  <ul class="list-group">
    <li class="list-group-item d-md-flex justify-content-between align-items-center">
      <h5 class=""><%= @stock.ticker%></h5>
      <p class="stock-name text-secondary">Stock Name: <%= @stock.name%></p>
      <span class="badge badge-primary badge-pill">Last Price: <%= @stock.last_price%></span>
      <div>
        <%= link_to 'Add To stock', user_stocks_path(user: current_user, stock_ticker: @stock.ticker),class: 'btn btn-xs btn-success', data: {confirm: 'Are you sure'}, method: :post %>
      </div>
    </li>
  </ul>
<% end %>