<h2>My Portfolio</h2>
<div id="stock-lookup">
  <%= form_tag stock_search_path, remote: true, method: :get, id: 'stock-lookup-form' do%>
    <div class="from-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :stock, params[:stock], placeholder: 'Company name/symbol', autofocus: true, class: 'form-control search-box input-lg' %>
      </div>
      <div>
        <%= button_tag(type: :submit, class: 'btn btn-md btn-success') do%>
          <i class="fa fa-search"></i> Search Stock
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="results">
  <%= render 'result' %>
</div>
<div class="mt-2">
  <%= render 'stocks/list' %>
</div>