<% if current_user %>
  <h3>Welcome: <%= current_user.full_name %></h3>
<% else %>
  <div class="jumbotron">
    <h2>Welcome to the Stock Management App!</h2>
    <p class="lead">
      You'll love managing your Stocks with our application. Sign up!
    </p>
  </div>

  <div class="plans">
    <div class="row justify-content-around clearfix">
      <% @plans.each do |plan| %>
        <div class="col-md-4 ">
          <h2 class="scheme"><%= plan.name%> Plan</h2>
          <div class="price pull-right">
            Price: <%= "$#{plan.price}"%>
          </div>
          <div class="features">
            <ul>
              <li>Unlimited Friends</li>
              <li>Responsive design</li>
              <li>Access anywhere</li>
              <% if plan.name == 'Free' %>
                <li>Trackable Stock: <%= plan.stock_number %></li>
              <% elsif plan.name == 'Premium'%>
              <li>Trackable Stock: <%= plan.stock_number %></li>
              <% else %>
              <li>Trackable Stock: Unlimited</li>
              <% end %>
            </ul>
          </div>
          <p>
            <%= link_to 'Sign Up', new_user_registration_path(plan: plan), class: 'btn btn-primary sign-up' %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%if @popular_stock_news %>
  <%= render 'welcome/news'%>
<%else%>
  Lets add some
<% end %>