<% current_status = Friendship.current_status?(current_user, @user) %>
<% if current_status&.accepted? %>
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user-check"></i> Friend
    </button>
    <div class="dropdown-menu">
      <%= link_to unfriend_user_friendships_path(@user), method: :post, class: 'dropdown-item' do%>
        <i class="fas fa-user-times"></i>Unfriend
      <% end %>
      <button class='dropdown-item' data-toggle="modal" data-target="#exampleModalCenter" >
        <i class="fas fa-ban"></i>Block
      </button>
    </div>
    <%= render 'friendships/block_user_confirmation_modal'%>
  </div>
<% else %>
  <% if current_status&.pending?%>
    <% if current_user == current_status.user %>
      <%= link_to cancelled_user_friendships_path(@user), method: :post, class: 'btn btn-sm btn-outline-dark' do %>
        <i class="fas fa-user-times"></i> Candel Request
      <% end %>
    <% else %>
      <%= link_to accept_user_friendships_path(@user), method: :post, class: 'btn btn-sm btn-outline-success' do %>
        <i class="fas fa-check-circle"></i> Accept
      <% end %>    
      <%= link_to reject_user_friendships_path(@user), method: :post, class: 'btn btn-sm btn-outline-warning' do %>
        <i class="fas fa-minus-circle"></i> Delete
      <% end %>
    <% end %>
  <% else %>
    <%= link_to add_user_friendships_path(@user), method: :post, class: 'btn btn-sm btn-outline-primary' do %>
      <i class="fas fa-user-plus"></i> Add Friend
    <% end %>
    <button class='btn btn-sm btn-outline-secondary' data-toggle="modal" data-target="#exampleModalCenter">
        <i class="fas fa-ban"></i>Block
    </button>
    <%= render 'friendships/block_user_confirmation_modal'%>
  <% end %>
<% end %>
