<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Stocks', my_stocks_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_path, class: 'nav-link'%>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-friends color-cornflowerblue"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% if pending_requests = current_user.pending_friend_request %>
                  <% pending_requests.each do |requester|%>
                    <div class="dropdown-item">
                      <p class=''><%= requester.full_name %></p>
                      <div class="btn-group">
                        <%= link_to cancelled_user_friendships_path(requester), method: :post, class: 'btn btn-sm btn-outline-dark' do %>
                          <i class="fas fa-user-times"></i> Cancel Request
                        <% end %>
                        <%= link_to accept_user_friendships_path(requester), method: :post, class: 'btn btn-sm btn-outline-success' do %>
                          <i class="fas fa-check-circle"></i> Accept
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="dropdown-item">You</div>
                <% end %>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to 'Profile', edit_user_registration_path, class: 'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, class: 'nav-link btn btn-sm btn-danger', method: :delete%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "SignIn", new_user_session_path, class: 'nav-link btn btn-sm btn-info' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>