<nav id="sidebar">
  <div class="p-4 pt-5">
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <%= link_to 'Home', root_path%>
          </li>  
          <li>
            <%= link_to "Stocks", my_stocks_path%>
          </li>
          <li>
            <%= link_to 'Friends', friends_path%>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to 'About', about_path%>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <%= link_to "Chatroom", chatroom_path%>
          </li>
          <li>
            <%= link_to "Plans", current_plans_path%>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <% if current_user %>
        <li>
          <%= link_to 'Portfolio', user_path(current_user)%>
        </li>
      <% end %>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>